{block content}
<h2>ADMIN CP</h2>
<div class="center">
<ul>
    <li><a n:href="Tournament:add">Create New Tournament</a></li>
    <li><a n:href="Tournament:overview">List of Tournaments</a></li>
</ul>
</div>
{/block}